<div class="bubbles">
	<ul class="list--unstyled parallax">
		<li class="layer red" 		data-depth="0.35"></li>
		<li class="layer red" 		data-depth="0.5"></li>
		<li class="layer purple" 	data-depth="0.12"></li>
		<li class="layer blue" 		data-depth="0.19"></li>
		<li class="layer dark" 		data-depth="0.21"></li>
		<li class="layer blue" 		data-depth="0.25"></li>
		<li class="layer red" 		data-depth="0.4"></li>
		<li class="layer blue" 		data-depth="0.14"></li>
		<li class="layer red" 		data-depth="0.03"></li>
		<li class="layer red" 		data-depth="0.08"></li>
		<li class="layer dark" 		data-depth="0.09"></li>
		<li class="layer purple" 	data-depth="0.45"></li>
		<li class="layer blue" 		data-depth="0.35"></li>
		<li class="layer blue" 		data-depth="0.25"></li>
		<li class="layer blue" 		data-depth="0.12"></li>
		<li class="layer red" 		data-depth="0.4"></li>
		<li class="layer purple" 	data-depth="0.04"></li>
		<li class="layer blue" 		data-depth="0.21"></li>
		<li class="layer dark" 		data-depth="0.11"></li>
		<li class="layer red" 		data-depth="0.09"></li>
		<li class="layer purple" 	data-depth="0.06"></li>
		<li class="layer blue" 		data-depth="0.1"></li>
		<li class="layer dark" 		data-depth="0.4"></li>
	</ul>
</div>