/*
	styles for Large Desktops
 -------------------------------------------------------------------- */
// @include respond-to($respond-large) {}



/*
	styles for Desktop
 -------------------------------------------------------------------- */
// @include respond-to($respond-desktop) {}



/*
	styles for Tablet and Desktops
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet-up) {}



/*
	styles for Tablet
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet) {}



/*
	styles for Tablet and Phone
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet-down) {}



/*
	styles for Phone
 -------------------------------------------------------------------- */
@include respond-to($respond-phone) {

	[data-page="main"] {
		.section--darts {		
			.mobile-side-text {
				bottom: calc(45.5%);
				position: fixed;
				left: calc(26.5%);
				pointer-events: none;
				z-index: 1;
				font-weight: 800;
				font-size: 46px;
				overflow: hidden;
				color: #252239;
				transform: rotate(90deg);
				line-height: 56px;
				width: 300px;
				text-align: center;
			}
		}
	}
}