<!-- page-contacts -->
<div class="page" data-page="contacts" id="contacts">
	<div class="container">
		
		<div class="page-body">

			<div class="page-content">
				{% include "form-proposal/_form-proposal.html" %}
			</div>

		</div>

		<div class="page-meta hidden-xs">
			<div class="container">
				<div class="column column--left text--left">1460 Broadway, New York</div>
				<div class="column column--center text--center"><a href="mailto:team@messapps.com">team@messapps.com</a></div>
				<div class="column column--right text--right"><a href="tel:+16467414814">+1 (646) 741-4814</a></div>
			</div>
		</div>

	</div>

	<div data-marker="page-top"></div>
	<div data-marker="page-bottom"></div>

</div><!-- /page-contacts -->