<div class="page-wrapper">
	
	<div class="page-header">
		<div class="container">
	  	  <span>
		  	<!-- logo -->
		  	<a href="index.html" class="link--unstyled header-logo">Messapps</a><!-- /logo -->
		    <div class="after-logo">ar darts</div>
		  </span>
		</div>
	</div>

	<div class="container">
		
		<div class="page-body">

			<div class="page-content">
              <button type="button" class="btn--unstyled btn--close workButtonClose"><i class="icon icon-close"></i></button>
              
                  <section class="s_darts">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="s_darts_first_screen">
                            <img src="samples/iphone-ardarts-2x.png" alt="iphone x dark">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="s_darts_first_title">
                            <h3 class="h3">Challenge</h3>
                            <p>AR is something new to all of us and to find the right approach, we had to go through various proccesses in order to come up with the right solution</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="s_darts_first_title">
                            <h3 class="h3">Idea</h3>
                            <p>We love the direction that the whole world is heading at. VR and AR are one of the hottest topics in our community. We had several ideas about which app should we create.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="s_darts_first_title">
                            <h3 class="h3">Results</h3>
                            <p>During the work, we learned a lot about AR world. We worked hard on it and we think that results that we achieved are pretty great.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="s_darts_wireframes">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <h2 class="h2">WIREFRAMES</h2>
                            <p class="s_darts_subtitle">Once we understood what client wants (we are clients, so what the hell, right?) we start doing wireframes where we set the main user flow and understand how app is going to function</p>
                        </div>
                        <div class="col-xs-12">
                            <div class="s_darts_wireframes_content">
                                <div class="s_darts_wireframes_cont">
                                    <img src="samples/phone@3x.png" alt="alt">
                                    <p>Splash</p>
                                </div>
                                <div class="s_darts_wireframes_cont">
                                    <img src="samples/phone2@2x.png" alt="alt">
                                    <p>Home</p>
                                </div>
                                <div class="s_darts_wireframes_cont">
                                    <img src="samples/phone3@2x.png" alt="alt">
                                    <p>Sign In</p>
                                </div>
                                <div class="s_darts_wireframes_cont">
                                    <img src="samples/phone4@2x.png" alt="alt">
                                    <p>Game Settings</p>
                                </div>
                                <div class="s_darts_wireframes_cont">
                                    <img src="samples/phone5@2x.png" alt="alt">
                                    <p>Multi-player</p>
                                </div>
                                <div class="s_darts_wireframes_cont">
                                    <img src="samples/phone6@2x.png" alt="alt">
                                    <p>Game Loading</p>
                                </div>
                                <div class="s_darts_wireframes_cont">
                                    <img src="samples/phone2@2x.png" alt="alt">
                                    <p>Game Count Down</p>
                                </div>
                                <div class="s_darts_wireframes_cont">
                                    <img src="samples/phone8@2x.png" alt="alt">
                                    <p>Game Setup</p>
                                </div>
                                <div class="s_darts_wireframes_cont">
                                    <img src="samples/phone9@2x.png" alt="alt">
                                    <p>Player’s turn</p>
                                </div>
                                <div class="s_darts_wireframes_cont">
                                    <img src="samples/phone10@2x.png" alt="alt">
                                    <p>Gameplay</p>
                                </div>
                                <p class="s_darts_wireframes_content_opacity">THERE ARE MORE, BUT DO YOU REALLY WANNA SEE THEM?</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="s_darts_design clearfix">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <h2 class="h2">DESIGN</h2>
                            <p class="s_darts_subtitle">Once we understood what client wants (we are clients, so what the hell, right?) we start doing wireframes where we set the main user flow and understand how app is going to function</p>
                        </div>
                    </div>
                </div>
                <img src="samples/bg.png" alt="bg" class="s_darts_design_bg">
                <div class="s_darts_design_img clearfix">
                    <div class="s_darts_design_img_conteiner">
                        <img src="samples/phone-borderless@2x.png" alt="iphone x dark" class="s_darts_design_img_conteiner_img">
                        <img src="samples/iphone-2.png" alt="iphone x 2" class="s_darts_design_img_conteiner_img">
                    </div>
                    <div class="s_darts_design_img_conteiner">
                        <img src="samples/iphone-2.png" alt="iphone x 2" class="s_darts_design_img_conteiner_img">
                        <img src="samples/phone-borderless@2x.png" alt="iphone x dark" class="s_darts_design_img_conteiner_img">
                    </div>
                    <div class="s_darts_design_img_conteiner">
                        <img src="samples/phone32.png" alt="iphone x dark">
                        <img src="samples/phone32.png" alt="iphone x 2">
                    </div>
                </div>
            </div>
            <div class="s_darts_design_2">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-sm-push-6 col-xs-12">
                            <h2 class="h2">Play with your friends</h2>
                            <p class="s_darts_subtitle">Once we understood what client wants (we are clients, so what the hell, right?) we start doing wireframes where we set the main user flow and understand how app is going to function</p>
                        </div>
                        <div class="col-sm-6 col-sm-pull-6 col-xs-12">
                            <div class="s_darts_design_2_left">
<!--
                                <img src="samples/Phone-Center.png" alt="alt" class="s_darts_design_2_left_bg">
                                <div class="s_darts_design_2_card_bg">
                                    <img src="samples/card-bg.png" alt="kard" class="s_darts_card_bg">
                                    <div class="s_darts_design_2_card_bg_text">
                                        <p>Become host</p>
                                        <span>Create new arena</span>
                                    </div>
                                </div>
                                <div class="s_darts_design_2_card_bg">
                                    <img src="samples/card-bg.png" alt="kard" class="s_darts_card_bg">
                                    <div class="s_darts_design_2_card_bg_text">
                                        <p>Join arena</p>
                                        <span>Find people to play with</span>
                                    </div>
                                </div>
-->
                                <img src="samples/phone-friends@2x.png" alt="kard" class="s_darts_card_bg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="s_darts_design_3">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <h1 class="h1">Gameplay</h1>
                        </div>
                        <div class="col-sm-4 col-sm-push-4 col-xs-12">
                            <div class="s_darts_design_3_content s_darts_design_3_content_centre">
                                <div class="s_darts_design_3_content_top">
                                    <img src="samples/arrow.png" alt="down" class="s_darts_design_3_content_img_top">
                                    <img src="samples/arrow.png" alt="down" class="s_darts_design_3_content_img_top">
                                </div>
<!--                                <img src="samples/Phone-Center.png" alt="Phone-Center">-->
                                <img src="samples/phone-gameplay.png" alt="Phone-Center">
                                <img src="samples/arrow.png" alt="down" class="s_darts_design_3_content_img_down">
                            </div>
                        </div>
                        <div class="col-sm-4 col-sm-pull-4 col-xs-12">
                            <div class="s_darts_design_3_content">
                                <img src="samples/pop-up1.png" alt="pop-up1">
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="s_darts_design_3_content">
                                <img src="samples/pop-up2.png" alt="pop-up2">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="s_darts_design_4">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <h1 class="h1">set up</h1>
                        </div>
                        <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-xs-12">
                            <div class="s_darts_design_4_contents">
                                <img class="s_darts_design_img_conteiner_img-2" src="samples/iphone-1.png" alt="alt">
                                <img class="s_darts_design_img_conteiner_img-2" src="samples/iphone-2.png" alt="alt">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="s_darts_branding">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
                            <h3 class="h3">App Icon</h3>
                            <p class="s_darts_subtitle">Once we understood what client wants (we are clients, so what the hell, right?) we start doing wireframes where we set the main user flow and understand how app is going to function</p>
                        </div>
                        <div class="col-lg-4 col-lg-offset-4 col-md-5 col-md-offset-2 col-sm-6 col-xs-12">
                            <img src="samples/logo-varietions.png" alt="alt" class="s_darts_branding_app_img">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <img src="samples/icon452.png" alt="alt" class="s_darts_branding_icon">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
                            <h3 class="h3">Typography</h3>
                            <p class="s_darts_subtitle">Running screen contains only needed information like pulse and distance counters and track of chapters.</p>
                        </div>
                        <div class="col-lg-4 col-lg-offset-4 col-md-5 col-md-offset-2 col-sm-6 col-xs-12">
                            <img src="samples/logo-varietions.png" alt="alt" class="s_darts_branding_app_img">
                            <img src="samples/aa-muli.png" alt="alt" class="s_darts_branding_app_img">
                            <img src="samples/aa-playfair.png" alt="alt" class="s_darts_branding_app_img">
                        </div>
                    </div>
                </div>
            </div>
            <div class="s_darts_teems">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <h1 class="h1">TEAM <br> COMMENTS</h1>
                        </div>
                        <div class="col-md-7 col-sm-6 col-xs-12">
                            <div class="s_darts_teem clearfix">
                                <img src="samples/profile-vasily@2x.png" alt="alt" class="s_darts_teem_photo">
                                <div class="s_darts_team_text">
                                    <h5 class="h5">Vasily Malishev</h5>
                                    <span>Founder and CEO</span>
                                    <p>If you are aware of what is required for self-improvement, but fail to act this nothing but a sin.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-6 col-xs-12">
                            <div class="s_darts_teem clearfix">
                                <img src="samples/profile-denis@2x.png" alt="alt" class="s_darts_teem_photo">
                                <div class="s_darts_team_text">
                                    <h5 class="h5">Denis Valetin</h5>
                                    <span>Designer</span>
                                    <p>If you are aware of what is required for self-improvement, but fail to act this nothing but a sin.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-6 col-xs-12">
                            <div class="s_darts_teem clearfix">
                                <img src="samples/profile-nolan@2x.png" alt="alt" class="s_darts_teem_photo">
                                <div class="s_darts_team_text">
                                    <h5 class="h5">Nolan Kier</h5>
                                    <span>Project Manager</span>
                                    <p>If you are aware of what is required for self-improvement, but fail to act this nothing but a sin.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-6 col-xs-12">
                            <div class="s_darts_teem clearfix">
                                <img src="samples/profile-denis@2x.png" alt="alt" class="s_darts_teem_photo">
                                <div class="s_darts_team_text">
                                    <h5 class="h5">Denis Valetin</h5>
                                    <span>Designer</span>
                                    <p>If you are aware of what is required for self-improvement, but fail to act this nothing but a sin.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="s_darts_thanks">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <img src="samples/thanks_d.png" alt="alt" class="s_darts_thanks_img">
                        </div>
                        <div class="col-xs-12">
                            <div class="s_darts_thanks_download">
                                <h5 class="h5">Download this app:</h5>
                                <a href="#" class="s_darts_thanks_download_links">
                                    <img src="samples/badges.png" alt="download" class="s_darts_thanks_download_links_bg">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="s_darts_footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-push-6 col-xs-12">
                        <div class="s_darts_footer_links">
                            <h4 class="h4">Looking for an agency that <br> will build your dream?</h4>
                        </div>
<!--                        <a href="contacts.html" class="btn--unstyled btn--brand btn--proposal">Get Proposal</a>-->
                    </div>
                    <div class="col-sm-6 col-sm-pull-6 col-xs-12">
                        <div class="s_darts_footer_adress">
                            <a href="#" class="s_darts_footer_logo clearfix">
                                <img src="samples/messapps_logo.png" alt="messapps_logo">
                                <span>messapps</span>
                            </a>
                            <p>1460 Broadway, New York</p>
                            <p>team@messapps.com</p>
                            <p>+1 (646) 741-4814</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
              
              
			</div>

		</div>

	</div>
</div>