/*
	styles for Large Desktops
 -------------------------------------------------------------------- */
// @include respond-to($respond-large) {}



/*
	styles for Desktop
 -------------------------------------------------------------------- */
@include respond-to($respond-desktop) {

	.page--work {
		.btn--close {
			left: calc(50% + 440px);
		}
	}

}



/*
	styles for Tablet and Desktops
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet-up) {}



/*
	styles for Tablet
 -------------------------------------------------------------------- */
@include respond-to($respond-tablet) {

    .page--work {
		.header-logo {
			margin-left: 0;
		}
		.btn--close {
			left: calc(50% + 347px);
			top: 28px;
		}
	}

}



/*
	styles for Tablet and Phone
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet-down) {}



/*
	styles for Phone
 -------------------------------------------------------------------- */
@include respond-to($respond-phone) {

    .page--work {
		.page-header {
			padding-top: 11px;
		}
		.header-logo {
			margin-left: -14px;
		}
		.btn--close {
			left: auto;
			right: 19px;
			top: 13px;
			.icon-close {
				width: 12px;
				height: 12px;
			}
		}
	}

	.item-article {
		max-width: 100%;
		padding-top: 34px;

		img {
			margin-bottom: 32px;
			border-radius: 8px;
			box-shadow: none;
			width: 100%;
			&:last-child {
				margin-bottom: 0;
			}
		}

		.title-1 {
			font-size: 32px;
			line-height: 37px;
		}

		.small--phone {
			font-size: 14px;
			line-height: 22px;
			margin-bottom: 22px;	
		}

		.item-meta {
			margin-top: -4px;
		}

		p, h3, h4, .item-title, .item-meta, .item-share {
			max-width: 100%;
			margin-left: 0;
			margin-right: 0;
		}

		p + img {
			margin-top: 32px;
		}

		h3, h4 {
			font-size: 26px;
			line-height: 32px;
			margin-bottom: 16px;
		}

		big {
			font-size: 16px;
			color: rgba(black, .52);
		}

		.nav-tags {
			$offset: 10.8px;
			a {
				font-size: 8.8px;
				padding: 10px 7px 9px;
				border-radius: 5.3px;
				margin-left: $offset/2;
				margin-right: $offset/2;
			}
			margin-bottom: 0;
			margin-top: 0;
			top: -6px;
			padding: 0;
			overflow: visible;
			.block-in {
				margin-bottom: -$offset;
				margin-left: -$offset/2;
				margin-right: -$offset/2;
				padding: 0;
				overflow: visible;
				white-space: normal;
			}
		}

	}

	.item-author {
		margin-right: 10px;
		.name {
			padding-left: 18px + 8px;
			font-size: 12px;
		}
		.ava {
			width: 18px;
			height: 18px;
			line-height: 18px;
			margin-right: -18px;
			position: relative;
			top: -1px;
		}
		img {
			border-radius: 1.6px;
		}
	}

	.item-share {
		padding-top: 8px;
		&::before {
			width: 50px;
			height: 14px;
			margin-bottom: 40px;
		}
	}

}