{% set title = "Learn about us" %} <!-- page title -->
{% set page = "about" %} <!-- page ID -->
{% extends "layouts/default.html" %} <!-- used layout -->

{% block content %}
<!-- page -->
<div class="page">
	<div class="container">

		<div class="page-body">

			<div class="page-content">

				<div class="page-flex">
					<div class="row">
						<div class="col-lg-7 col-md-7 col-sm-7">

							<div class="page-title">
								<h1 class="title-1">{{title}}</h1>
							</div>

						</div>
						<div class="col-lg-5 col-md-5 col-sm-5">
							<p>
								"This core philosophy stands at the center of everything we make. The brands we build and the experience we create live at the intersection of clarity and surprise, and are positioned to metter in culture through shared values and ideals. Simplicity done right is what connects a brand with its audience, creates a winning stratefy, and drives our making, day in, day out."
							</p>
							<p>
								- Vasiliy Malishev, CEO
							</p>
						</div>
					</div>
				</div>

			</div>

		</div>

	</div>
</div><!-- /page -->
{% endblock %}