{% set title = "Our tools" %} <!-- page title -->
{% set page = "tools" %} <!-- page ID -->
{% set headerFixed = "true" %}
{% extends "layouts/default.html" %} <!-- used layout -->

{% block content %}
<!-- page -->
<div class="page page--tools">
	<div class="container">

		<div class="page-body">

			<div class="page-title">
				<h1 class="title-1 title-tools">{{title}}</h1>
			</div>

			<div class="page-content">

				<div class="page-flex">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6 tools-item">
							<h2>Idea Generator</h2>
                            <p>
								Got stuck in search for the next great idea? Feel like you are close to something special but can't put a finger on it? Try our idea generator tool that will help you with some creative thinking.
							</p>
							<a href="#" class="btn--unstyled btn--brand hidden-xs">View Tool</a>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 tools-item">
							<h2>Name Generator</h2>
							<p>
								Choosing a name for your business and product can be one of the hardest things to do. Good thing we made this name generator just for you!
								<br />
								<br />
							</p>
							<a href="#" class="btn--unstyled btn--brand hidden-xs">View Tool</a>
						</div>
					</div>
				</div>

			</div>

		</div>

	</div>
</div><!-- /page -->
{% endblock %}