{% set title = "Some of the best work we've done" %} <!-- page title -->
{% set page = "work" %} <!-- page ID -->
{% extends "layouts/default.html" %} <!-- used layout -->

{% block content %}
<!-- page -->
<div class="page" data-page="work" id="work">
	<div class="container">

		<div class="page-body">

			<div class="page-content">

				<div class="page-flex">
					<div class="row hidden-xs">
						<div class="col-lg-7 col-md-6 col-sm-6">
						  <div class="page-title">
                            <h1 class="title-work">{{title}}</h1>
			              </div>
			              <div>
			                <ul class="menu-ul">
			                  <li class="menu-li-1"><a class="active" href="">Ar Darts</a></li>
			                  <li class="menu-li-2"><a href="">Runon</a></li>
			                  <li class="menu-li-3"><a href="">Throw-Back</a></li>
			                  <li class="menu-li-4"><a href="">Cakemix</a></li>
			                  <li class="menu-li-5"><a href="">Halsa.Life</a></li>
			                </ul>
			              </div>
						</div>
						<div class="col-lg-5 col-md-6 col-sm-6">
                          <div class="img-wrapper"></div>
                          <!-- <img src="samples/iphone-runon-2x.png" alt="">-->
						</div>
					</div>
                  
                    <div class="row visible-xs">
                      <div class="col-xs-12">
                        <!-- Slider main container -->
                        <div class="swiper-container">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper">
                                <!-- Slides -->
                                <div class="swiper-slide">
                                  <div class="page-title">
                                    <h1 class="title-work">{{title}}</h1>
                                  </div>
                                  <div class="img-wrapper img-wrapper-1"></div>
                                  <!-- <a href="" load-work class="btn--unstyled btn--brand">Click to view work or swipe to view more</a>-->
                                </div>
                                <!-- Slides -->
                                <div class="swiper-slide">
                                  <div class="page-title">
                                    <h1 class="title-work">{{title}}</h1>
                                  </div>
                                  <div class="img-wrapper img-wrapper-2"></div>
                                </div>
                                <!-- Slides -->
                                <div class="swiper-slide">
                                  <div class="page-title">
                                    <h1 class="title-work">{{title}}</h1>
                                  </div>
                                  <div class="img-wrapper img-wrapper-3"></div>
                                </div>
                                <!-- Slides -->
                                <div class="swiper-slide">
                                  <div class="page-title">
                                    <h1 class="title-work">{{title}}</h1>
                                  </div>
                                  <div class="img-wrapper img-wrapper-4"></div>
                                </div>
                                <!-- Slides -->
                                <div class="swiper-slide">
                                  <div class="page-title">
                                    <h1 class="title-work">{{title}}</h1>
                                  </div>
                                  <div class="img-wrapper img-wrapper-5"></div>
                                </div>
                            </div>
                        </div>
<!--
                        <div class="swiper-container">
 
                          <div class="swiper-wrapper">
  
                              <div class="swiper-slide"><div class="img-wrapper img-wrapper-1"></div>
                              <div class="swiper-slide"><div class="img-wrapper img-wrapper-1"></div>
                              <div class="swiper-slide"><div class="img-wrapper img-wrapper-1"></div>
                          </div>
                          </div>
                        <div id="slider-work" class="swipe">

                           

                            <div class="swiper-slide"><div class="img-wrapper img-wrapper-1"></div></div>
                            <div class="swiper-slide"><div class="img-wrapper img-wrapper-2"></div></div>
                            <div class="swiper-slide"><div class="img-wrapper img-wrapper-3"></div></div>
                            <div class="swiper-slide"><div class="img-wrapper img-wrapper-4"></div></div>
                            <div class="swiper-slide"><div class="img-wrapper img-wrapper-5"></div></div>
                          </div>
                        </div>   
                          <div class="swiper-wrapper">
                            <div><div class="img-wrapper img-wrapper-1"></div>
                            <div><div class="img-wrapper img-wrapper-2"></div>
                            <div><div class="img-wrapper img-wrapper-3"></div>
                          </div>
                      </div>
-->

                    </div>
                    
                    </div>
				</div>

			</div>

		</div>

	</div>
</div><!-- /page -->
{% endblock %}