$tags-offset: 16px;

.nav-tags {
	margin-bottom: 34px;

	a {
		@extend .link--block;
		color: $text-color;
		font-size: 12px;
		line-height: 1;
		font-weight: 700;
		padding: 16px 16px 14px;
		border-radius: 8px;
  	background-color: #fefefe;
  	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  	margin-left: $tags-offset/2;
  	margin-right: $tags-offset/2;
  	margin-bottom: $tags-offset;
  	display: inline-block;
  	vertical-align: top;
  	transition: color .3s ease-in-out;

  	&:hover,
  	&.active {
			color: $purple;
  	}

		&.active {
			pointer-events: none;
		}
	}

	.block-in {
		font-size: 0;
		margin-left: -$tags-offset/2;
		margin-right: -$tags-offset/2;
	}

}