<!-- page-main-mob -->
<div class="visible-xs" id="test">
			<div id="fullpage">
				<!--home section-->
				<div class="section">
					<div class="block-table">
						<div class="block-cell-mobile">

							<div class="">
								<h2 class="mobile-header visible-xs">We <br /> build <br /> dreams</h2>
								<p class="mobile-intro visible-xs">
									App development, design and consulting<br /> 
									for those who want to be successfull
								</p>
							</div>

						</div>
					</div>
					<!-- mobile video box -->
					<div class="mobile-viewport home-wp">
						<video class="mobile-video" poster="samples/video-poster.png">
							<source src="samples/video.mp4" type="video/mp4">
						</video>
						<!--play button-->
						<button type="button" class="btn--unstyled btn--play play--custom visible-xs"></button>
						<!--side button-->
						<button type="button" data-scroll=".section--gc" class="btn--unstyled btn--start text--uppercase btn--responsive">Our Work</button>
					</div>
				</div> <!--/home section-->

				<div class="section dark-section" data-section="dark">
					
					<!-- section-gc -->
					<div class="block-table-mobile" id="work-anchor">
						<div class="block-cell-mobile">


							<div class="content-gc">
							<div class="page-marquee text--uppercase"><span>work work work work work work work work work work work work work work work work work work work work work work work work work</span></div>
								
								<i class="icon icon-logo"></i>
								<div class="icon icon-line"></div>
								<button type="button" class="btn--unstyled btn--play visible-xs"></button>
								
							
								<svg class="phone-mask-mobile home-mask" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="57.4762mm" height="120.121mm" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 35361 73901" xmlns:xlink="http://www.w3.org/1999/xlink">
									<g>
										<path class="mask" d="M4278 0l26805 0c2362,0 4278,1916 4278,4278l0 65345c0,2362 -1916,4278 -4278,4278l-26805 0c-2362,0 -4278,-1916 -4278,-4278l0 -65345c0,-2362 1916,-4278 4278,-4278l0 0zm27021 1260c-1481,0 -3943,0 -4089,0 -355,0 -584,264 -668,739 -282,1689 -1200,1805 -1471,1805 -229,0 -14542,0 -14782,0 -271,0 -1199,-127 -1470,-1805 -73,-475 -303,-739 -668,-739 -157,0 -2608,0 -4089,0 -1482,0 -2806,1583 -2806,3093 0,1509 0,63612 0,65406 0,1869 1877,2882 2774,2882 491,0 26810,0 27300,0 897,0 2775,-1013 2775,-2882 0,-1794 0,-64551 0,-65406 11,-1510 -1325,-3093 -2806,-3093z"/>
										<path class="mask" d="M4424 146l26512 0c2363,1 4278,1916 4278,4278l0 65053c0,2362 -1915,4278 -4278,4278l-26512 0c-2362,0 -4277,-1916 -4277,-4278l-1 -65053c1,-2362 1916,-4277 4278,-4277l0 -1zm26875 1114c-1481,0 -3943,0 -4089,0 -355,0 -584,264 -668,739 -282,1689 -1200,1805 -1471,1805 -229,0 -14542,0 -14782,0 -271,0 -1199,-127 -1470,-1805 -73,-475 -303,-739 -668,-739 -157,0 -2608,0 -4089,0 -1482,0 -2806,1583 -2806,3093 0,1509 0,63612 0,65406 0,1869 1877,2882 2774,2882 491,0 26810,0 27300,0 897,0 2775,-1013 2775,-2882 0,-1794 0,-64551 0,-65406 11,-1510 -1325,-3093 -2806,-3093z"/>
									</g>
								</svg>
								
<!--
								<video class="mobile-video">
									<source src="samples/video.mp4" type="video/mp4">
								</video>
-->

								<p class="text-mobile visible-xs">
									“My dream was to help people to find the 
									perfect movies based on their watch history!”
									- Tomas Gerard, CEO
								</p>

								<a href="#" data-load-work class="btn--unstyled btn--brand hidden-xs">View Work</a>

								<div class="mobile-side-text text--uppercase visible-xs">
									<p>Ar Darts</p>
								</div>
							</div>


						</div>
					</div> <!-- /section-gc -->
				</div>

				<div class="section yellow-section" data-section="yellow">
					<!-- section-gc -->
					<div class="block-table-mobile">
						<div class="block-cell-mobile">


							<div class="content-gc">
							<div class="page-marquee text--uppercase"><span>work work work work work work work work work work work work work work work work work work work work work work work work work</span></div>
								
								<i class="icon icon-logo"></i>
								<div class="icon icon-line"></div>
								<button type="button" class="btn--unstyled btn--play visible-xs"></button>

								<svg class="phone-mask-mobile home-mask" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="57.4762mm" height="120.121mm" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 35361 73901" xmlns:xlink="http://www.w3.org/1999/xlink">
									<g>
										<path class="mask" d="M4278 0l26805 0c2362,0 4278,1916 4278,4278l0 65345c0,2362 -1916,4278 -4278,4278l-26805 0c-2362,0 -4278,-1916 -4278,-4278l0 -65345c0,-2362 1916,-4278 4278,-4278l0 0zm27021 1260c-1481,0 -3943,0 -4089,0 -355,0 -584,264 -668,739 -282,1689 -1200,1805 -1471,1805 -229,0 -14542,0 -14782,0 -271,0 -1199,-127 -1470,-1805 -73,-475 -303,-739 -668,-739 -157,0 -2608,0 -4089,0 -1482,0 -2806,1583 -2806,3093 0,1509 0,63612 0,65406 0,1869 1877,2882 2774,2882 491,0 26810,0 27300,0 897,0 2775,-1013 2775,-2882 0,-1794 0,-64551 0,-65406 11,-1510 -1325,-3093 -2806,-3093z"/>
										<path class="mask" d="M4424 146l26512 0c2363,1 4278,1916 4278,4278l0 65053c0,2362 -1915,4278 -4278,4278l-26512 0c-2362,0 -4277,-1916 -4277,-4278l-1 -65053c1,-2362 1916,-4277 4278,-4277l0 -1zm26875 1114c-1481,0 -3943,0 -4089,0 -355,0 -584,264 -668,739 -282,1689 -1200,1805 -1471,1805 -229,0 -14542,0 -14782,0 -271,0 -1199,-127 -1470,-1805 -73,-475 -303,-739 -668,-739 -157,0 -2608,0 -4089,0 -1482,0 -2806,1583 -2806,3093 0,1509 0,63612 0,65406 0,1869 1877,2882 2774,2882 491,0 26810,0 27300,0 897,0 2775,-1013 2775,-2882 0,-1794 0,-64551 0,-65406 11,-1510 -1325,-3093 -2806,-3093z"/>
									</g>
								</svg>

								<p class="text-mobile visible-xs">
									“My dream was to help people to find the
									perfect movies based on their watch history!” 
									- Tomas Gerard, CEO
								</p>

								<a href="#" data-load-work class="btn--unstyled btn--brand hidden-xs">View Work</a>

								<div class="mobile-side-text text--uppercase visible-xs">
									<p>Runon</p>
								</div>
							</div>


						</div>
					</div> <!-- /section-gc -->
				</div>

				<div class="section">
					{% include "page-awards/_page-awards.html" %}
				</div>
				<div class="section">
					{% include "page-press/_page-press.html" %}
				</div>
<!--
				<div class="section">
					{% include "page-contacts/_page-contacts.html" %}
				</div>
-->
			</div>
			
</div><!-- /page-main -->