/*
	styles for Large Desktops
 -------------------------------------------------------------------- */
// @include respond-to($respond-large) {}



/*
	styles for Desktop
 -------------------------------------------------------------------- */
// @include respond-to($respond-desktop) {}



/*
	styles for Tablet and Desktops
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet-up) {}



/*
	styles for Tablet
 -------------------------------------------------------------------- */
@include respond-to($respond-tablet) {

	[data-page="awards"] {
		.page-title,
		.page-content {
			left: 40px;
		}
	}

}



/*
	styles for Tablet and Phone
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet-down) {}



/*
	styles for Phone
 -------------------------------------------------------------------- */
@include respond-to($respond-phone) {

	[data-page="awards"] {
		.page-marquee {
			color: #1D262A;
			font-size: 48px;
			letter-spacing: normal;
			line-height: 58px;
		}
		.page-title 
			.title-3 {
				color: #1D262A;
				font-size: 18px;
				font-weight: 700;
				line-height: 21px;
			}

		.page-title,
		.page-content {
			left: auto;
		}
		.title--fade {
			left: 15%;
			top: 25%;
		}
		.item {
			$width: 137px;//126px
			$height: $width*140px/126px;
			width: $width;
			height: $height;
			padding: 37px 25px 0;
			margin-bottom: 40px;
		}

		.item-title {
			font-size: 12px;
			line-height: 16px;
		}

		.img--centered {
			image-rendering: pixelated;
			height: 28px;
			line-height: 26px;
		}

		.items-list {
			max-width: 100%;
			padding-top: 22px;
			[class^="col-"] {
				&:nth-child(10n+1) {
					top: 0;
					left: -17px;
				}
				&:nth-child(10n+2) {
					top: 70px;
					left: 2px;
				}
				&:nth-child(10n+3) {
					top: 2px;
					left: 6px;
				}
				&:nth-child(10n+4) {
					top: 95px;
					left: 5px;
				}
				&:nth-child(10n+5) {
					top: 0;
					left: 0;
					&:last-child {
						left: -50px;
					}
				}
				&:nth-child(10n+6) {
					top: 80px;
					left: -17px;
				}
				&:nth-child(10n+7) {
					top: 30px;
					left: 2px;
				}
				&:nth-child(10n+8) {
					top: 82px;
					left: 6px;
				}
				&:nth-child(10n+9) {
					top: 25px;
					left: 5px;
				}
				&:nth-child(10n+10) {
					top: 90px;
					left: 0;
				}
			}
		}	
	}
}