/*
	styles for Large Desktops
 -------------------------------------------------------------------- */
// @include respond-to($respond-large) {}



/*
	styles for Desktop
 -------------------------------------------------------------------- */
// @include respond-to($respond-desktop) {}



/*
	styles for Tablet and Desktops
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet-up) {}



/*
	styles for Tablet
 -------------------------------------------------------------------- */
@include respond-to($respond-tablet) {

	.page-marquee {
		left: calc(50% + 120px);
	}

}



/*
	styles for Tablet and Phone
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet-down) {}



/*
	styles for Phone
 -------------------------------------------------------------------- */
@include respond-to($respond-phone) {

	.page-marquee {
		top: 62px;
		bottom: auto;
		left: 0;
		right: 0;
		font-size: 48px;
		letter-spacing: normal;
		line-height: 58px;
		width: auto;
		overflow: visible;
		height: 57px;
		transition-duration: .6s;
		> span {
			transform: rotate(0);
			position: relative;
			top: 14px;
			animation-name: marquee-x;
			animation-duration: 60s;
		}
	}

	.page-title {
		margin-bottom: 20px;
	}

	.page-flex {
		margin-bottom: 0;
		.row {
			display: block;
		}
		[class^="col-"] {
			display: block;
			margin-bottom: 32px;
		}
	}

	.nav-tags + .page-flex {
		margin-top: 0;
	}
	
	.desktop-text {
		visibility: hidden;
	}
	
	.dropdown-menu.inner {
		overflow: hidden !important;
	}

}

@keyframes marquee-x {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-500%);
	}
}



/////////////////////////////
#accordions .ui-icon {
  display: none;
}
#accordions .accordion-header {
  color: #171719;
  font-family: "Proxima Nova";
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
}
#accordions .accordion-text {
  color: #171719;
  font-family: "Proxima Nova";
  font-size: 14px;
  line-height: 22px;
}
#accordions .ui-accordion-header, #accordions .accordion-content {
  background-color: #fefefe;
  box-shadow: 0 1px 2px 0 rgba(61, 57, 122, 0.24);
}
#accordions .ui-accordion-header {
  border-radius: 6px;
  margin-top: 20px;
}
#accordions .ui-accordion-header:first-of-type {
  margin-top: 0;
}

#accordions .ui-state-active {
  border: none;
  border-radius: 6px;	
  background-color: #FEFEFE;
  
}
.ac {
  border-radius: 6px;
  box-shadow: 0 0 6px 0 rgba(61,57,122,0.12), 0 1px 2px 0 rgba(61,57,122,0.16);
}
.ac>.ac-q {
  color: #171719;
  font-family: "Proxima Nova";
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;  
}

.ac>.ac-q::after {
  display: none;
}
.ac>.ac-a p {
  color: #171719;
  font-family: "Proxima Nova";
  font-size: 14px;
  line-height: 22px;
}

//0px 1px 5px 1px rgba(61, 57, 122, 0.24)
//box-shadow: 0 0 6px 0 rgba(61,57,122,0.12), 0 6px 6px 0 rgba(61,57,122,0.16);

/////////////////////////////