/*
	styles for Large Desktops
 -------------------------------------------------------------------- */
// @include respond-to($respond-large) {}



/*
	styles for Desktop
 -------------------------------------------------------------------- */
// @include respond-to($respond-desktop) {}



/*
	styles for Tablet and Desktops
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet-up) {}



/*
	styles for Tablet
 -------------------------------------------------------------------- */
@include respond-to($respond-tablet) {

	.page-marquee {
		left: calc(50% + 120px);
	}

}



/*
	styles for Tablet and Phone
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet-down) {}



/*
	styles for Phone
 -------------------------------------------------------------------- */
@include respond-to($respond-phone) {

	.page-marquee {
		top: 62px;
		bottom: auto;
		left: 0;
		right: 0;
		font-size: 48px;
		letter-spacing: normal;
		line-height: 58px;
		width: auto;
		overflow: visible;
		height: 57px;
		transition-duration: .6s;
		> span {
			transform: rotate(0);
			position: relative;
			top: 14px;
			animation-name: marquee-x;
			animation-duration: 60s;
		}
	}

	.page-title {
		margin-bottom: 20px;
	}

	.page-flex {
		margin-bottom: 0;
		.row {
			display: block;
		}
		[class^="col-"] {
			display: block;
			margin-bottom: 32px;
		}
	}

	.nav-tags + .page-flex {
		margin-top: 0;
	}
	
	.desktop-text {
		visibility: hidden;
	}
	
	.dropdown-menu.inner {
		overflow: hidden !important;
	}
  
/////////////////////////////
  ///////////////////////
    .text-about, .quote-about {
      font-size: 14px;
      line-height: 22px;
    }
    .text-about{
      font-style: italic;
    }
    .title-about--sub h1 {
      color: #171719;
      font-weight: 900;
      font-size: 32px;
      line-height: 44px;
      text-transform: uppercase;
    }
    .title-about--sub p {
      font-size: 14px;
      line-height: 17px;
      font-weight: normal;
      margin-bottom: 15px;
    }
    .contribute-item {
      border-radius: 4px;
      box-shadow: 0 0 6px 0 rgba(61,57,122,0.12), 0 6px 6px 0 rgba(61,57,122,0.16);
    }
    .contribute-item h3 {
      font-size: 18px;
      font-weight: 800;
      line-height: 22px;
      padding: 8px;
    }
    .contribute-item p {
      font-size: 14px;
      line-height: 20px;
      padding: 0 0 8px 8px;
    }
    .img-about {
      width: 100%;
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;
    }
  ///////////////////////
    .ac {
      border: none;
      border-radius: 6px;
      box-shadow: 0 0 6px 0 rgba(61,57,122,0.12), 0 1px 2px 0 rgba(61,57,122,0.16);
      margin-top: 15px;
    }
    .accordion-container .active, .accordion-container-team .active {
      box-shadow: 0 0 6px 0 rgba(61,57,122,0.12), 0 6px 6px 0 rgba(61,57,122,0.16);
    }
    .ac>.ac-q {
      color: #171719;
      font-family: "Proxima Nova";
      font-size: 20px;
      font-weight: 800;
      line-height: 24px;
      padding: 16px;
    }
    .accordion-container-team>.ac>.ac-q {
      padding: 16px 16px 0 16px;
    }
    .ac span {
      font-size: 12px;
      font-weight: bold;
      line-height: 15px;
      color: #141414;
      opacity: 0.4;
      padding-left: 16px;
      margin-bottom: 8px;
    }
    .ac>.ac-a p {
      color: #171719;
      font-family: "Proxima Nova";
      font-size: 14px;
      line-height: 22px;
      padding: 0 16px 16px 16px; 
    }
    .ac>.ac-q::after {
      display: none;
    }
/////////////////////////////
  
  //WORK PAGE//
  .title-work {
    font-size: 27px;
    line-height: 30px;
    text-align: center;
  }
  .img-wrapper {
    max-width: 100%;
    height: 400px;
    background-position: center;
    background-size: contain;
  }
//  .work-mobile {
//    display: block;
//  }
  //END WORK PAGE//
}

@keyframes marquee-x {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-500%);
	}
}