<!-- section-nyu -->
<section class="section section--nyu" data-colour="blue">
	<div class="block-table">
		<div class="block-cell">

			<div class="section-content nyu-content">
				<h2>Nyu</h2>
				<p class="desktop-text">
					“My dream was to help people to find the<br /> 
					perfect movies based on their watch history!”<br /> 
					- Tomas Gerard, CEO
				</p>
				<p class="mobile-text visible-xs">
					“My dream was to help people to find the<br /> 
					perfect movies based on their watch history!”<br /> 
					- Tomas Gerard, CEO
				</p>
				<a href="#" class="btn--unstyled btn--brand hidden-xs">View Work</a>
				
                 <div class="mobile-side-text text--uppercase visible-xs">
                  <p>nyu</p>
                </div>
			</div>

			<div data-source="video" data-mp4="samples/video.mp4" data-webm="" data-loop="true" data-mute="true"></div>

		</div>
	</div>

	<div data-marker="section-top"></div>
	<div data-marker="section-bottom"></div>

</section><!-- /section-nyu -->