.section--start {
	font-size: 16px;

	h2 {
		font-size: 80px;
		line-height: 86px;
		letter-spacing: .5px;
		margin-bottom: 4px;
		font-weight: 900;
		color: #171719;
	}

	.section-content {
		top: -100px;
	}
	
	.mobile-viewport {
		display: none;
	}
}