<!-- section-start -->
<section class="section section--start" data-colour="white" data-section="start">
	<div class="block-table">
		<div class="block-cell">

			<div class="section-content">
				<h2>We build dreams</h2>
				<p class="hidden-xs">
					App development, design and consulting<br /> 
					for those who want to be successfull
				</p>
                <p class="visible-xs">
					App development, design and consulting<br /> 
					for those who want to be successfull
				</p>
			</div>
           
			<div class="" href="samples/video.mp4" data-source="video" data-mp4="samples/video.mp4" data-webm="" data-loop="true" data-mute="true"></div>
			
		</div>
	</div>
   	<!-- mobile video box -->
    <div class="mobile-viewport home-wp">
      
      <video class="mobile-video" poster="samples/video-poster.png">
  		<source src="samples/video.mp4" type="video/mp4">
	  </video>
	  
    
		<button type="button" class="btn--unstyled btn--play play--custom visible-xs"></button>
	  
	  <button type="button" data-scroll=".section--gc" class="btn--unstyled btn--start text--uppercase btn--responsive">Our Work</button>
	  
    </div>
    <!-- /mobile video box -->
    
<!--
      <div class="tip hidden-xs hidden-md hidden-lg">
          Play video to<br /> 
          learn about<br /> 
          our work
      </div>
-->
	
	<button type="button" data-scroll=".section--gc" class="btn--unstyled btn--start text--uppercase hidden-xs">Our Work</button>

	<div class="section-info text--uppercase hidden-xs">100+ Projects Done</div>

	<div data-marker="section-top"></div>
	<div data-marker="section-bottom"></div>

</section><!-- /section-start -->